.form-outline {
    color: rgb(170, 170, 170);
}

.form-check {
    color: rgb(170, 170, 170);
}

label {
    color: rgb(170, 170, 170);
}
h1{
        color: rgb(170, 170, 170);
}
.submit-form {
    max-width: 400px;
    margin: auto;
}